C# Learn/obj/C# Learn.csproj.nuget.cache
C# Learn/obj/C# Learn.csproj.nuget.dgspec.json
C# Learn/obj/C# Learn.csproj.nuget.g.props
C# Learn/obj/C# Learn.csproj.nuget.g.targets
C# Learn/obj/project.assets.json
